#footer {
  background-color: black;
}

#footerFollow {
  color: white;
  font-family: $primaryFont;
  font-size: 24px;
  margin: 0 auto;
  padding-top: 22px;
  text-align: center;
}

.twitterLogo {
 position: relative;
 margin-left: 510px;
 margin-top: 22px;
}

.gitHubLogo {
  position: relative;
  margin-left: 56px;
  margin-top: 22px;
}
